<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] - %d{yyyy-MM-dd HH:mm:ss.SSS} - [%t] %logger{36}:%L - %msg%n"/>
        </Console>
        <Routing name="DeviceRoutingAppender">
            <Routes>
                <Route>
                    <File name="appender"
                          fileName="target/logs/application-${date:yyyy-MM-dd-HHmm}.log"
                          immediateFlush="false"
                          append="true" >
                        <PatternLayout pattern="[%-5level] - %d{yyyy-MM-dd HH:mm:ss.SSS} - [%t] %logger{36}:%L - %msg%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="DeviceRoutingAppender"/>
        </Root>
    </Loggers>
</Configuration>
